/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.rubocop-https*
.idea

Gemfile.lock
.rspec_status

# Dummy app
/dummy/db/*.sqlite3
/dummy/db/*.sqlite3-*
/dummy/log/*.log
/dummy/tmp/
/dummy/.sass-cache
/dummy/storage/
